.bimestre {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bimestre > header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bimestre .title {
  color: var(--pure-white);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
}

button.create {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.125rem 1rem;
}

button.create .icon {
  width: 2rem;
  height: 2rem;
}

button.create .text {
  display: none;
}

.disciplina_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 2rem 2.5rem;
}

@media (min-width: 701px) and (max-width: 1000px) {
  .bimestre {
    max-width: 90%;
  }

  .disciplina_grid {
    grid-template-columns: repeat(3, min(10rem));
  }
}

@media (min-width: 1001px) {
  .bimestre {
    max-width: 60rem;
  }

  button.create .text {
    display: inline;
  }

  .disciplina_grid {
    grid-template-columns: repeat(4, min(10rem));
  }
}
