.container {
  width: 100%;
  max-width: 46rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.disciplina_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 1120px) {
  .disciplina_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
